.bgImage {
  /* height: 100vh; */
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.formControlCustom {
  width: 100%;
  color: black;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid darkgray;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border-radius: 2px;
  outline: 0;
}

.wCustom {
  width: 100%;
}

.smooth {
  transition: all 0.5s ease-in-out; /* This sets the transition for all properties over 0.3 seconds with an ease-in-out timing function */
}

/* sm */
@media (min-width: 576px) {
  .wCustom {
    width: 100%;
  }
}

/* md */
@media (min-width: 768px) {
  .wCustom {
    width: 100%;
  }
}

/* lg */
@media (min-width: 992px) {
  .wCustom {
    width: 40%;
  }
}

/* xl */
@media (min-width: 1200px) {
  .wCustom {
    width: 30%;
  }
}
