.album {
  min-height: auto;
}

.highlightSection {
  height: auto;
}

/* sm */
@media (min-width: 576px) {
}

/* md */
@media (min-width: 768px) {
  .highlightSection {
    height: calc(100vh - 186px);
  }
}

/* lg */
@media (min-width: 992px) {
  .album {
    max-height: calc(100vh - 186px);
  }
}

/* xl */
@media (min-width: 1200px) {
}
