.albumWidth {
  width: 100%;
}

.thumbnailColumnWidth {
  width: 100%;
}

.photoSection {
  /* min-height: calc(100vh - 85px); */
  min-height: calc(100vh - 150px);
}

/* sm */
@media (min-width: 576px) {
}

/* md */
@media (min-width: 768px) {
  .thumbnailColumnWidth {
    width: auto;
    height: 100%;
  }
  .albumWidth {
    width: 50%;
  }
  .photoSection {
    max-height: calc(100vh - 186px);
  }
}

/* lg */
@media (min-width: 992px) {
  .albumWidth {
    width: 40%;
  }
}

/* xl */
@media (min-width: 1200px) {
}
