.homeClass {
  color: rgb(13, 109, 253);
  background-color: black;
}
.homeClass:hover {
  background-color: white;
}

.xPaddingCustom {
  padding: 0 0.9rem 0 0.9rem;
}

.hoverClass {
  color: white;
  background-color: black;
}

.hoverClass:hover {
  color: black;
  background-color: white;
}
