.xPaddingCustom {
  padding: 0 0.9rem 0 0.9rem;
}

.pseudoIdNeighbour2 {
  display: none;
}
.pseudoIdParent:hover > .pseudoIdNeighbour1 {
  background-color: white;
}

.pseudoIdParent:hover > .pseudoIdNeighbour2 {
  display: flex;
}
