.formControlCustom {
  width: 100%;
  color: black;
  padding: 0.4rem 1.9rem 0.4rem 0.5rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  outline: 0;
  height: 48px;
}

.hoverClass {
  background-color: transparent;
}

.hoverClass:hover {
  background-color: lightgrey;
}

/* sm */
@media (min-width: 576px) {
}

/* md */
@media (min-width: 768px) {
  .navBarTab {
    background-color: transparent;
  }
}

/* lg */
@media (min-width: 992px) {
}

/* xl */
@media (min-width: 1200px) {
}
