.topCustom {
  top: 128px;
}

.toggleBtnClass {
  display: block;
  border: none;
  outline: none;
}

.hoverClass {
  color: white;
  background-color: transparent;
}

.hoverClass:hover {
  color: black;
  background-color: white;
}

@media (min-width: 768px) {
  .topCustom {
    top: 144px;
  }

  .toggleBtnClass {
    display: none;
    border: none;
    outline: none;
  }
}
